<div class="container-fluid">
    <br><br>
    <h2> 
        Add Expense Requisition
        </h2>
    <br><br>
    <form action="/submitReq" method="POST">
        <div>
            Funds Encumbered $<input type="number" placeholder="0.00" step="0.01" name="encumbered"/>
            <br>
            Date of Departure <input type="text" placeholder="MM/DD/YYYY" name="departureDate"/>
            <br>
            Date of Return <input type="text" placeholder="MM/DD/YYYY" name="returnDate"/>
            <br>
            Location of Departure <input type="text" name="departLocation"/>
            <br>
            Destination <input type="text" name="destination"/>
            <br>
            Purpose of Event <input type="text" name="purpose"/>
        </div>
        <input type="hidden" name="totalSpent" value="0"/>
        <input type="hidden" name="balance" value="0"/> 
        <br><br>
        <button type="submit">Submit</button>
    </form>
</div>