
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Team Expense!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addReq">Add Expense Requisition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
    <br><br>
    <h2> 
        Add Expense Requisition
        </h2>
    <br><br>
    <form action="/submitReq" method="POST">
        <div>
            Funds Encumbered $<input type="number" placeholder="0.00" step="0.01" name="encumbered"/>
            <br>
            Date of Departure <input type="text" placeholder="MM/DD/YYYY" maxlength="10" name="departureDate"/>
            <br>
            Date of Return <input type="text" placeholder="MM/DD/YYYY" maxlength="10" name="returnDate"/>
            <br>
            Location of Departure <input type="text" name="departLocation"/>
            <br>
            Destination <input type="text" name="destination"/>
            <br>
            Purpose of Event <input type="text" name="purpose"/>
            Objectives <textarea class="form-control" rows="8" name="objectives"></textarea>
        </div>
        <input type="hidden" name="totalSpent" value="0"/>
        <input type="hidden" name="balance" value="0"/> 
        <br><br>
        <button type="submit">Submit</button>
    </form>
</div>