<br><br>
<h2> Expense Report </h2>
<br><br>
<form action="/submitExpenses" method="POST">

    Airfare: $<input type="text" placeholder="0.00" name="airfare"/> 
    <br>
    Baggage:  $<input type="text" placeholder="0.00" name="baggage"/> 
    <br>
    Car Rental: $<input type="text" placeholder="0.00" name="carRental"/> 
    <br>
    Lodging: $<input type="text" placeholder="0.00" name="lodging" />
    <br>
    Meals: $<input type="text" placeholder="0.00" name="meals" />
    <br>
    Parking: $<input type="text" placeholder="0.00" name="parking"/> 
    <br>
    Taxi:  $<input type="text" placeholder="0.00" name="taxi"/> 
    <br>
    <button type="submit" id="calculateButton">Calculate</button>
</form>


