<br><br>
<h2> Expense Report </h2>
<br><br>
<form action="/submitExpenses" method="POST">

    Airfare: $<input type="number" placeholder="0.00" step="0.01" name="airfare" />
    <br>
    Baggage: $<input type="number" placeholder="0.00" step="0.01" name="baggage" />
    <br>
    Car Rental: $<input type="number" placeholder="0.00" step="0.01" name="carRental" />
    <br>
    Lodging: $<input type="number" placeholder="0.00" step="0.01" name="lodging" />
    <br>
    Meals: $<input type="number" placeholder="0.00" step="0.01" name="meals" />
    <br>
    Parking: $<input type="number" placeholder="0.00" step="0.01" name="parking" />
    <br>
    Taxi: $<input type="number" placeholder="0.00" step="0.01" name="taxi" />
    <br>
    <input type="hidden" name="id"/>
    <button type="submit" id="calculateButton">Calculate</button>
</form>