
<br>
<h3>Welcome to My Awesome Capstone Project</h3>
<br><br>
<form action="/login" method="post">
    Username: <input type="text" name="username"/>
    <br/>
    Password: <input type="password" name="password"/>
    <br/>
    <br/>
    <button type="submit">Login</button>
</form>
<br>
{{#if flashes}}
{{ flashes }}
{{/if}}
<br>
<a href="/register">New User? Please register here. Thx!</a>