<br>
<h3>Welcome New User! Let's get you registered.</h3>
<br>
<br>
<form action="/register" method="post">
    Username: <input type="text" name="username"/>
    <br/>
    Password: <input type="password" name="password"/>
    <br/>
    <br/>
    <button type="submit">Register</button>
</form>
{{#if flashes}}
{{ flashes }}
{{/if}}