
<br>
<h3>Welcome to My Awesome Capstone Project</h3>
<br><br>
<form action="{{ action }}" method="post">
    Username: <input type="text" name="username"/>
    <br/>
    Password: <input type="password" name="password"/>
    <br/>
    <br/>
    <button type="submit">{{ buttonText }}</button>
</form>
<br>
{{#if flashes}}
{{ flashes }}
{{/if}}
<br>
<a href="/register">New User? Please register here. Thx!</a>
<br><br>
<a href="/logAdmin">Super Admins log in here plz</a>