<br>
<br>
<h2>Total Expenses: {{expenseTotal}}</h2>
<br>
<br>
<!--
    <h1>Travel Budget</h1>
<table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Event Purpose</th>
                <th>Total Expenses</th>
            </tr>
        </thead>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
       
</table>
-->